@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans:ital,wght@1,800&family=Public+Sans:ital,wght@0,200;1,100&display=swap');

*{

    padding:0;
    margin:0;

}
body{
    font-family: 'Cinzel', serif;}
    
.container{
    background-color:grey ;
    width:100vw ;
    height:200vh ;
    margin:10px 10 10px 10;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    

}


#titleName {
    background-color:grey ;
    width: 80vw ;
    height: 100vh ;
    border: 3px solid white;
    text-align: center;
    font-size: 2.0cm;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    color: white;
}

#titleName h1{
    position: absolute}

#favFood1{
    background-color:orchid ;
    width:80vw ;
    height:250vh ;
    border: 3px solid white;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    color: black;

}
#favFood2{
   background-color: plum;
    width:80vw ;
    height: 250vh ;
    border: 3px solid white;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    font-size: 1em;

}
#titleName h1{
    font-size: 1.5em;
}
#titleImage{
    width: 80vw;
}

#favFood3{
    background-color:cyan;
    width:80vw ;
    height:250vh ;
    border: 3px solid white;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

}

#titleImage {
    width :80vw;
    height: 55vh;
}
#favFoodImage1{
    width :25vw;
    height: 35.2vh;
    border: 4px solid white;
    padding: 3px;

}
#favFoodImage2 {
    width :25vw;
    height: 35.2vh;
    border: 4px solid white;
    padding: 3px;

}
#favFoodImage3{
    width :25vw;
    height: 35.2vh;
    border: 4px solid white;
    padding: 3px;

}
